/*Universal CSS*/
* {
  font-family: "Noto Sans Vai", sans-serif, Georgia;
  font-family: "Roboto", sans-serif;
}
html {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
hr {
  opacity: 15%;
  margin-top: 20px;
}

/*Navigation Bar CSS*/
nav {
  display: flex;
  flex-direction: column;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  font-size: 16px;
  color: rgb(40, 40, 40);
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}

/*Hero CSS*/
.hero {
  display: flex;
  flex-direction: column-reverse;
}
.hero p {
  text-align: center;
  margin: 0 auto 25px auto;
  width: 300px;
}
.hero img {
  width: 300px;
  margin: 50px auto 25px auto;
}

/*Container CSS*/

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container h3 {
  text-transform: uppercase;
  color: rgb(40, 40, 40);
}
.container p {
  text-align: center;
  margin: 0 auto 25px auto;
  width: 300px;
}
.container img {
  width: 350px;
  margin: 50px auto 25px auto;
}

/*Contact Container CSS*/

.container-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container-contact h3 {
  font-size: 16px;
  color: rgb(40, 40, 40);
  font-weight: bold;
  text-transform: uppercase;
}
.container-contact a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(93, 92, 92);
}
.container-contact p {
  margin: 0 auto 25px auto;
  width: 300px;
}
.footer {
  display: none;
}
.footer-mobile {
  flex-direction: row;
  justify-content: space-between;
  padding: 25px 15px 15px 15px;
}
footer a {
  text-decoration: none;
  color: rgb(40, 40, 40);
}
.footer-nav {
  text-transform: uppercase;
}

/*MEDIA SCREEN 320px*/
@media screen and (min-width: 320px) {
  /*Hero CSS*/
  .hero img {
    width: 250px;
  }
  /*Container CSS*/
  .container img {
    width: 300px;
    margin: 50px auto 25px auto;
  }
}

/*MEDIA SCREEN 768px*/
@media screen and (min-width: 768px) {
  /*Navigation Bar CSS*/
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  nav a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    align-self: center;
    margin-bottom: 50px;
    gap: 20px;
  }
  li {
    font-size: 16px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
  }

  /*Hero CSS*/
  .hero {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
  }
  .hero p {
    text-align: start;
    margin: auto;
    width: 350px;
    justify-content: center;
  }
  .hero img {
    width: 250px;
  }
  /*Container CSS*/

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #portfolio {
    position: absolute;
    float: left;
    margin: auto;
  }
  .container h3 {
    text-transform: uppercase;
    color: rgb(40, 40, 40);
  }
  .container p {
    text-align: center;
    margin: 0 auto 25px auto;
    width: 300px;
  }
  .container img {
    margin: 50px auto 25px auto;
    padding: 5px;
  }

  /*Contact Container CSS*/

  .container-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-contact h3 {
    font-size: 16px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .container-contact a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(93, 92, 92);
  }
  .container-contact p {
    margin: 0 auto 25px auto;
    width: 300px;
    margin-bottom: 30px;
  }
  /*Footer Container CSS*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .footer ul {
    margin: auto 20px auto 5px;
  }
  .footer li {
    font-size: 15px;
  }
  .footer h1 {
    width: 200px;
    font-size: 15px;
    margin: auto 5px auto -20px;
  }
  /*Mobile footer is disabled for media query purposes*/
  .footer-mobile {
    display: none;
  }
  footer a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  .footer-nav {
    text-transform: uppercase;
  }
}

/*MEDIA SCREEN 1024px*/
@media screen and (min-width: 1024px) {
  /*Navigation Bar CSS*/
  nav {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav h1 {
    width: 200px;
    margin-left: 50px;
  }
  nav a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 16px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 50px;
  }

  /*Hero CSS*/
  .hero {
    display: flex;
    flex-direction: row;
  }
  .hero p {
    text-align: start;
    margin: auto;
    width: 400px;
    justify-content: center;
    font-size: 20px;
  }

  .hero img {
    width: 350px;
    margin: 50px auto 25px auto;
  }

  /*Container CSS*/

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #portfolio {
    position: absolute;
    float: left;
    margin: auto;
  }
  .container h3 {
    text-transform: uppercase;
    color: rgb(40, 40, 40);
  }
  .container p {
    text-align: center;
    margin: 0 auto 25px auto;
    width: 300px;
  }
  .container img {
    margin: 50px auto 25px auto;
    padding: 10px;
  }

  /*Contact Container CSS*/

  .container-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-contact h3 {
    font-size: 16px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .container-contact a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(93, 92, 92);
  }
  .container-contact p {
    margin: 0 auto 25px auto;
    width: 300px;
    margin-bottom: 30px;
  }
  /*Footer Container CSS*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
    padding-bottom: 25px;
  }
  .footer ul {
    margin: auto 20px auto 5px;
  }
  .footer li {
    font-size: 15px;
  }
  .footer h1 {
    width: 200px;
    font-size: 15px;
    margin: auto 5px auto -20px;
  }
  /*Mobile footer is disabled for media query purposes*/
  .footer-mobile {
    display: none;
  }
  footer a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  .footer-nav {
    text-transform: uppercase;
  }
}

/*MEDIA SCREEN 3840px - 4k screens*/
@media (min-width: 3840px) {
  /*Navigation Bar CSS*/
  nav {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 200px;
  }
  nav h1 {
    width: 200px;
    margin-left: 50px;
    font-size: 48px;
    width: 600px;
  }
  nav a {
    text-decoration: none;
    color: rgb(40, 40, 40);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 38px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    margin-right: 50px;
  }

  /*Hero CSS*/
  .hero {
    display: flex;
    flex-direction: row;
  }
  .hero p {
    text-align: start;
    margin: auto;
    width: 650px;
    justify-content: center;
    font-size: 28px;
  }

  .hero img {
    width: 600px;
    margin: 50px auto 25px auto;
  }

  /*Container CSS*/

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;
  }
  #portfolio {
    position: absolute;
    float: left;
    margin: auto;
  }
  .container h3 {
    text-transform: uppercase;
    color: rgb(40, 40, 40);
    font-size: 30px;
  }
  .container p {
    text-align: center;
    margin: 0 auto 25px auto;
    font-size: 20px;
    width: 300px;
  }
  .container img {
    margin: 50px auto 25px auto;
    padding: 10px;
    width: 950px;
  }

  /*Contact Container CSS*/

  .container-contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .container-contact h3 {
    font-size: 25px;
    color: rgb(40, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .container-contact a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(93, 92, 92);
    font-size: 16px;
  }
  .container-contact p {
    margin: 0 auto 25px auto;
    width: 300px;
    margin-bottom: 30px;
    font-size: 18px;
  }
  /*Footer Container CSS*/
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 25px;
    gap: 600px;
  }
  .footer ul {
    margin: auto 20px auto 5px;
  }
  .footer li {
    font-size: 15px;
  }
  .footer h1 {
    width: 200px;
    font-size: 25px;
    margin: auto 5px auto -20px;
  }
}
